/* -*- CSS -*- */

html, body, div, dt, dl {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 5px;
  text-align: justify;
}

#header {
  position: fixed;
  width: auto;
  height: 6em;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: 0px;
  overflow: auto;
}

#function {
  position: fixed;
  width: 25ex;
  height: auto;
  top: 6em;
  right: auto;
  bottom: 3ex;
  left: 0px;
overflow: auto;
}


#page {
  position: fixed;
  width: auto;
  height: auto;
  top: 6em;
  right: 0px;
  bottom: 13ex;
  left: 25ex;
  margin: 0px;
  overflow: auto;
}

#footer {
  position: fixed;
  width: auto;
  height: 3ex;
  top: auto;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

#footer p {
  display: inline;
}

#status {
  position: fixed;
  width: auto;
  height: 10ex;
  top: auto;
  right: 0px;
  bottom: 3ex;
  left: 25ex;
  z-index: 3;
  overflow: auto;
}

#status.server {
  border-color: blue;
  background-color: #bbf;
}

#status.message {
  border-color: green;
  background-color: #bfb;
}

#status.warning {
  border-color: orange;
  background-color: #fb0;
}

#status.error {
  border-color: red;
  background-color: #fbb;
}

#status p {
  margin: 3px;
}

#menu {
  overflow: hidden;
  visibility: hidden;
  position: fixed;
  z-index: 4;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

dt, [type=submit], [type=button], span {
  display: block;
  border: 1px solid #aaa;
  margin: 3px;
  padding: 1px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 1px #eee;
  background-color: #eee;
}

dt select {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

[type=button] {
  display: inline;
}

hr {
  margin: 3px 0px;
}

dt:hover, [type=submit]:hover, [type=button]:hover, span:hover {
  background-color: #ddd;
}

dt:active, [type=submit]:active, [type=button]:active, span:active {
  background-color: #ccc;
}

h1 {
  text-align: center;
}

h2 {
  margin: 15px;
}

h3 {
  margin: 10px;
}

h4 {
  margin: 5px;
  color: #555;
}

div {
  border: 1px solid gray;
}

.spacer {
  border: none;
  margin: 3px;
}

.table {
  margin: 1px 0px;
  width: 100%;
  border-collapse: collapse;
}

.table td, .table th {
  border: 1px solid black;
  white-space: nowrap;
}

.expand input {
  width: 99%;
}

.expand {
  padding-right: 7px;
}

.fit {
  font-weight: bold;
  width: 5em;
}

.table th {
  font-weight: bold;
}

textarea {
  width: 99%;
  height: 10em;
}

.disabled {
  color: gray;
}

pre {
  margin: 1ex;
  padding: 1ex;
  border: 1px solid #aaa;
}

.alert {
  color: red;
}

#import_name {
  display: none;
}
